/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero
    5. Content
    6. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

body {
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #efefef;
}



/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

/* 2. ---Grid--- */

.grid{
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 95px;
}

/* 3. ---Header--- */

#main-header{
    /* margin-top: 40px; */
    background-color: #ffffff;
}

#header-logo{
    height: 100px;
    width: 270px;
    grid-column: 4/5;
    margin-top: 18px;
}

#header-nav{
    height: 70px;
    width: 700px;
    grid-column: 5/-1;
    margin-top: 30px;
}

.menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 90px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    font-size: 30px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #df551e;
    color: #fff;
}

/* 4. --- Main Hero --- */

#hero {
    display:grid;
    height: 620px;
    background-color: gray;
    /* background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(../images/video.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/video.gif);
    background-size: cover;
    background-position: bottom;
}

#hero-video {
    color: #000;
}

#hero-logo {
    grid-column: 3/5;
    grid-row: 3/5;
}

/* 5. --- Content --- */

#section-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: grey;
    background: linear-gradient(rgba(255, 2, 255, 0.45), rgba(0, 0, 0, 0.10)),url(../images/section-separator.jpg);
}

#section-separator h2 {
    font-family: 'Mulish',Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    padding-left: 450px;
    padding-right: 450px;
}

#product-overview-1 {
    display: grid;
    height: 840px;
    background-color: #fff;
}

#prod-left-text {
    display: grid;
    grid-column: 2/5;
    height: 480px;
    width: 700px;
    /* background-color: #333; */
}

#prod-left-text h2{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-weight: 900;
    display: grid;
    grid-column: 1/7;
    font-size: 90px;
    padding-top: 120px;
    color: rgb(230, 81, 12);
    line-height: 125px;
}

#orbitz-bottle-orange {
    display: grid;
    grid-column: 7/-1;
    padding-top: 60px;
    height: 480px;
    width: 700px;
    /* background-color: #333; */
}

#orbitz-bottle-orange img {
    padding-left: 160px;
}

#section-separator-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: grey;
    background: linear-gradient(rgba(148, 11, 175, 0.808), rgba(210, 26, 216, 0.45)),url(../images/section-separator.jpg);
}

#section-separator-2 h2 {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    padding-left: 450px;
    padding-right: 450px;
}

#orbitz-flavors {
    display: grid;
    grid-column: 1/-1;
    grid-row: 5/-1;
    height: 980px;
}

#orbitz-flavors h2 {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    display: grid;
    grid-column: 3/11;
    grid-row: 1/-1;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color:rgb(230, 81, 12);
}

#orbitz-flavor-1 {
    display: grid;
    grid-column: 2/-1;
    grid-row: 2/5;
    height: 775px;
    width: 400px;
    margin-top: 20px;
    border: solid 2px rgb(230, 81, 12);
    border-radius: 12px;
    background-color: #e9e9e9;
}

#orbitz-flavor-1 h3 {
    text-align: center;
}

#orbitz-flavor-1 img {
    margin: auto;
    padding-top: 30px;
    
}

#orbitz-flavor-1 p {
    text-align: center;
    margin: 20px;
}

#orbitz-flavor-1:hover {
    background-color: #df551e;
    color: #fff;
}

#orbitz-flavor-2 {
    display: grid;
    grid-column: 5/-1;
    margin-left: 82px;
    grid-row: 2/5;
    height: 775px;
    width: 400px;
    margin-top: 20px;
    border: solid 2px rgb(230, 81, 12);
    border-radius: 12px;
    background-color: #e9e9e9;
}

#orbitz-flavor-2 h3 {
    text-align: center;
}

#orbitz-flavor-2 img {
    margin: auto;
    padding-top: 30px;
    
}

#orbitz-flavor-2 p {
    text-align: center;
    margin: 20px;
}

#orbitz-flavor-2:hover {
    background-color: #df551e;
    color: #fff;
}

#orbitz-flavor-3 {
    display: grid;
    grid-column: 9/-1;
    grid-row: 2/5;
    height: 775px;
    width: 400px;
    margin-top: 20px;
    border: solid 2px rgb(230, 81, 12);
    border-radius: 12px;
    background-color: #e9e9e9;
}

#orbitz-flavor-3 h3 {
    text-align: center;
}

#orbitz-flavor-3 img {
    margin: auto;
    padding-top: 30px;
    
}

#orbitz-flavor-3 p {
    text-align: center;
    margin: 20px;
}

#orbitz-flavor-3:hover {
    background-color: #df551e;
    color: #fff;
}

#social-wall {
    display: grid;
    grid-column: 1/-1;
    grid-row: 5/-1;
    height: 800px;
    background-color: #e0720b;
    background: linear-gradient(rgba(252, 99, 10, 0.699), rgba(0, 0, 0, 0.726)),url(../images/orbitz_bg.jpg);
}

#social-wall h2 {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 70px;
    line-height: 90px;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
    
}

#social-media-icons {
    display: flex;
    align-items:top;
    justify-content: center;

}

#social-media-icons img {
    margin: 0 30px;
    width: 60px;
    height: 60px;
    fill: white;
}


#cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 310px;
    background-color: white;
    /* background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.705)),url(../images/section-separator.jpg); */
    /* background-size: cover;
    background-position: bottom; */
}

#cta-section h2 {
    font-family: 'Mulish',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(230, 81, 12);
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    padding-left: 450px;
    padding-right: 450px;
}

#cta-button {
    background-color: #7b27c8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(230, 81, 12);
    height: 120px;
    padding-left: 180px;
    padding-right: 180px;
}

#footer p {
    color: #fff;
}